.image {
    height: 400px;
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 25px 10px;
    border-radius: 10px;
}

.about {
    font-family: "Calibri";
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

a {
    color: #8458A1;
}

h1 {
    font-family: monospace;
}