.App {
  text-align: center;
}

.active {
    color: #552B72;
}

a {
    color: #060213;
}

.navbar {
    background-color: #B4A7E5;
    font-size: 25px;
    padding: 5px;
}

.link {
    margin: 5px;
    padding: 5px;
    font-family: "Calibri";
}

body {
    background-image: url(../img/background.png);
    background-size: auto;
}

.header {
    background-image: url(../img/header.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 750px;
    margin: 0 auto;
}

.row {
    padding: 20px;
}

.container {
    background-color: #B4A7E5;
    padding: 5px;
}

.footer {
    font-family: monospace;
}